@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  height: 100dvh;

  background-color: #f5f5f5;
}

input {
  outline: none;
}
